@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

:global(.light) {
  .movie-card {
    &__link-img {
      filter: drop-shadow(0 0 80px rgba(49, 45, 45, 0.68));
      border: 1px vars.$black solid;
    }

    &__rank {
      background-color: vars.$winterspring-lilac;
      color: vars.$white;
    }
  }
}

:global(.dark) {
  .movie-card {
    &__link-img {
      filter: drop-shadow(0 0 80px rgba(255, 255, 255, 0.33));
      border: 1px vars.$black solid;
    }

    &__rank {
      background-color: white;
      color: #6A5DC2;
    }
  }
}

.movie-card {
  &__item {
    position: relative;
    margin-top: 20px;
    display: flex;
    max-width: 225px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
  }


  &__link-img {
    min-height: 336px;
    max-width: 224px;
    object-fit: cover;
    border-radius: 16px;
  }

  &__rank {
    top: -12px;
    left: -12px;
    padding: 8px 24px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    @include mixins.text-style(24px, 32px, 700);
    z-index: 1;
  }

  &__remove {
    top: -12px;
    right: -12px;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: vars.$white;
    @include mixins.text-style(24px, 0, 700);
    transition: color 0.3s ease-in-out;
    z-index: 1;

    &:hover {
      color: vars.$flaming-flamingo;
      transition: color 0.3s ease-in-out;
    }
  }
}

@media (max-width: 1085px) {
  .movie-card {
    &__item {
      margin-top: 40px;
    }
  }
}
