@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.genres {
  &__list {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 40px;
  }

  &__btn {
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .genres {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .genres {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 475px) {
  :global(.page) {
    padding-top: 32px;
  }
  .genres {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}