$white: #ffffff;
$black: rgba(0, 0, 0, 0.85);
$flaming-flamingo: #dc5dfc;
$winterspring-lilac: #b4a9ff;
$montana: #393b3c;
$romaine-green: #a59400;
$temperamental-green: #308e21;
$lucky-grey: #777777;
$lionheart: #c82020;
$blue-jeans: #67a5eb;