$hunter-green: #0a3b0a;
$hulk: #008000;
$spring-forth: #0ac529;
$intoxicate: #11b851;
$nordic-grass-green: #21aa55;
$ulva-lactuca-green: #90ee90;
$hobgoblin: #00ac92;

$orange: #ffa500;
$irrigo_purple: #9747FF;
$blue: #0000ff;

$carbon: #333333;
$black: #000000;

$red: #ff0000;

$grey: #808080;
$cerebral-grey: #cccccc;
$steam: #dddddd;

$white: #fff;
$white-smoke: #f5f5f5;
$coconut-white: #e7eef4;
$vanilla-strawberry: #ffe6e6;
$doctor: #f9f9f9;
$beluga: #f1f1f1;
$snowflake: #f0f0f0;
$sharp-pebbles: #dad7d7;
