@use './mixins' as mixins;
@use './variables' as vars;

.light {
  .page {
    &__title {
      color: vars.$black;
    }
  }
}

.dark {
  .page {
    &__title {
      color: vars.$white;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Play", sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title-reset, .descr-reset {
  margin: 0;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.container {
  max-width: 1360px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.page {
  padding-top: 64px;
  &__title {
    @include mixins.text-style(48px, 56px, 700);
  }
}

@media (max-width: 1000px) {
  .page {
    &__title {
      @include mixins.text-style(32px, 36px, 700)
    }
  }
}

@media (max-width: 800px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page {
    &__title {
      @include mixins.text-style(24px, 32px, 700);
    }
  }

}