@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

:global(.light) {
  .movie-card {
    &__link-img {
      filter: drop-shadow(0 0 80px rgba(49, 45, 45, 0.68));
      border: 1px vars.$black solid;
    }
    &__rank {
      background-color: vars.$winterspring-lilac;
      color: vars.$white;
    }
  }
}

:global(.dark) {
  .movie-card {
    &__link-img {
      filter: drop-shadow(0 0 80px rgba(255, 255, 255, 0.33));
      border: 1px vars.$black solid;
    }
    &__rank {
      background-color: white;
      @include mixins.text-style(24px, 32px, 700, #6A5DC2);
    }
  }
}

.movie-card {
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__link-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  &__rank {
    top: -12px;
    left: -12px;
    padding: 8px 24px;
    position: absolute;
    border-radius: 50px;
    z-index: 1;
  }
}

@media (max-width: 800px) {
  .movie-card {
    &__item {
      flex: 0 0 25%;
      scroll-snap-align: center;
    }

    &__link-img {
      min-width: 224px;
      min-height: 336px;
      border-radius: 16px;
    }
  }
}