@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

:global(.light) {
  .best-films {
    &__title {
      color: vars.$black;
    }
  }
}

.best-films {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 64px;

  &__title {
    padding-top: 40px;
    @include mixins.text-style(40px, 48px, 700, vars.$white);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 64px 32px;
  }
}

@media (max-width: 1350px) {
  .best-films {
    &__list {
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
    }
  }
}


@media (max-width: 1085px) {
  .best-films {
    gap: 0;

    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .best-films {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
}

@media (max-width: 500px) {
  .best-films {
    &__list {
      margin-right: -20px;
      display: flex;
    }
  }
  .slide {
    margin-right: 30px;
  }
}