@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

:global(.light) {
  .best-films {
    &__title {
      color: vars.$black;
    }
  }
}

.best-films {
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 64px;
  &__title {
    @include mixins.text-style(40px, 48px, 700, vars.$white);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 64px 32px;
  }
}

@media (max-width: 800px) {
  .best-films {
    padding-bottom: 32px;
    gap: 40px;

    &__title {
      @include mixins.text-style(24px, 32px, 700, vars.$white);
    }

    &__list {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: visible;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      cursor: grab;
      scroll-snap-type: x mandatory;
    }

    .grabbing {
      cursor: grabbing !important;
    }

  }
}
