@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

:global(.light) {
  .header {
    &__nav-link {
      color: vars.$black;
      &.active {
        color: vars.$black;
      }
    }
    &__btn {
      color: vars.$black;
    }
  }
}


.header {
  padding: 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 80px;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__nav-icon,
  &__btn-icon {
    display: none;
  }
}

@media (max-width: 800px) {
  .header {
    padding-top: 16px;
    padding-bottom: 8px;
    gap: 20px;

    &__left {
      justify-content: flex-start;
    }

    &__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
    }

    &__btn {
      padding: 0;
      line-height: 16px;
    }

    &__nav-item {
      padding: 0;
    }

    &__nav-link {
      line-height: 16px;
    }
  }

  .header__nav-item--home {
    display: none;
  }

  .header__nav-text {
    display: none;
  }
  .header__nav-icon, .header__btn-icon, .header__btn-switcher {
    display: inline-flex;
    font-size: 24px;
  }

  .header__btn-text {
    display: none;
  }
}
