@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 80px;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__btn {
    padding-left: 40px;
    @include mixins.text-style(24px, 24px, 400, vars.$white);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: vars.$winterspring-lilac;
    }
    &:active {
      color: vars.$winterspring-lilac;
    }
    &:focus-visible {
      color: vars.$winterspring-lilac;
      outline: none;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav-item {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  &__nav-link {
    position: relative;
    text-decoration: none;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: white;
    transition: color 0.3s ease-in-out;
  }

  &__nav-link:not(.active):hover {
    color: #9747FF;
    cursor: pointer;
  }

  &__nav-link.active {
    color: white;
    cursor: default;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #DC5DFC;
    }
  }

  &__nav-icon,
  &__btn-icon {
    display: none;
  }
}

@media (max-width: 780px) {
  .header {
    padding-top: 16px;
    padding-bottom: 8px;
    gap: 20px;

    &__left {
      justify-content: flex-start;
    }

    &__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
    }

    &__btn {
      padding: 0;
      line-height: 16px;
    }

    &__nav-item {
      padding: 0;
    }

    &__nav-link {
      line-height: 16px;
    }
  }

  .header__nav-item--home {
    display: none;
  }

  .header__nav-text {
    display: none;
  }
  .header__nav-icon {
    display: inline-flex;
    font-size: 24px;
  }

  .header__btn-text {
    display: none;
  }
  .header__btn-icon {
    display: inline-flex;
    font-size: 24px;
  }
}
