@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;

      &--link {
        &:hover {
          svg {
            rect {
              transition: stroke 0.3s ease-in-out;

              stroke: vars.$flaming-flamingo;
            }

            path {
              transition: fill 0.3s ease-in-out;
              fill: vars.$flaming-flamingo;
            }
          }
        }
      }
    }
  }
}


