@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

:global(.light) {
  .footer__nav-item--link {
    svg {
      rect {
        stroke: vars.$black
      }

      path {
        fill: vars.$black;
      }
    }

    &:hover {
      svg {
        rect {
          stroke: vars.$flaming-flamingo;
        }

        path {
          fill: vars.$flaming-flamingo;
        }
      }
    }
  }
}

.footer {
  padding: 40px 0;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;

      &--link {
        &:hover {
          svg {
            rect {
              transition: stroke 0.3s ease-in-out;
              stroke: vars.$flaming-flamingo;
            }

            path {
              transition: fill 0.3s ease-in-out;
              fill: vars.$flaming-flamingo;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;

    &__nav {
      justify-content: flex-start;
    }
  }
}

