@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;
@use 'sass:color';

.custom-input {
  position: relative;
  padding: 16px;
  width: 340px;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border: 1px solid vars.$black;
  transition: all 0.3s ease;

  &__error {
    border: 2px solid red;

    &-label {
      position: absolute;
      bottom: 2px;
      @include mixins.text-style(12px, 12px, 400, red)
    }
  }

  &:hover,
  &:focus-within {
    border-color: vars.$winterspring-lilac;
    background-color: vars.$white;

    .custom-input__icon {
      color: vars.$winterspring-lilac;

    }
  }

  &__icon {
    max-height: 24px;
    font-size: 24px;
    color: vars.$black;
    transition: all 0.3s ease;

    &-error {
      color: red
    }
  }

  &__field {
    width: 100%;
    @include mixins.text-style(18px, 24px, 400, vars.$black);
    background: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: vars.$black;
      opacity: 0.5;
    }
  }
}

@media (max-width: 1024px) {
  .custom-input {
    max-width: 295px;
    height: 56px;

    &__error {
      &-label {
        bottom: 3px;
        right: 5px;
        font-size: 14px;
      }
    }
  }
}

