@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;
@use 'sass:color';

.custom-input {
  padding: 16px;
  max-width: 350px;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border: 1px solid vars.$black;
  transition: all 0.3s ease;

  &--error {
    border: 1px solid red
  }

  &:hover,
  &:focus-within {
    border-color: vars.$winterspring-lilac;
    background-color: vars.$white;

    .custom-input__icon {
      color: vars.$winterspring-lilac;
    }
  }

  &__icon {
    font-size: 24px;
    color: vars.$black;
    transition: all 0.3s ease;
  }

  &__field {
    width: 100%;
    @include mixins.text-style(18px, 24px, 400, vars.$black);
    background: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: vars.$black;
      opacity: 0.5;
    }
  }
}

@media (max-width: 780px) {
  .custom-input {
    max-width: 24px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    &__field {
      display: none;
    }
    &__icon {
      font-size: 24px;
    }
  }
}

