@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

:global(.light) {
  .auth {
    &__container {
      &__title {
        color: vars.$black;
      }

      &__span {
        color: vars.$black
      }
    }

    &__btn {
      color: vars.$black;
    }
  }
}

:global(.dark) {
  .auth {
    &__container {
      &__title {
        color: vars.$white;
      }

      &__span {
        color: vars.$white
      }
    }

    &__btn {
      color: vars.$white;
    }

  }
}

.auth {
  &__btn {
    align-self: center;
    font-family: 'Play', sans-serif;
    @include mixins.text-style(18px, 24px, 700);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: vars.$blue-jeans;
      transition: color 0.3s ease-in-out;
    }
  }

  &__error {
    position: absolute;
    bottom: 155px;
    font-size: 13px;
    color: red;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &__header {
      padding-bottom: 40px;
    }

    &__title {
      padding-bottom: 24px;
      align-self: center;
      text-align: center;
    }

    &__span {
      padding-bottom: 24px;
      display: flex;
      text-align: center;
      @include mixins.text-style(18px, 24px, 400);
    }

    &__body {
      padding-bottom: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
    }

  }
}

@media (max-width: 1024px) {
  .auth {
    &__error {
      bottom: 120px;
    }

    &__container {
      &__header {
        padding-bottom: 32px;
      }

      &__title {
        align-self: center;
        text-align: center;
      }

      &__span {
        padding-bottom: 24px;
        display: flex;
        text-align: center;
        @include mixins.text-style(18px, 24px, 400);
      }

      &__body {
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
      }

    }
  }

}